.navbar{
    position: fixed;
    overflow: auto;
    background-image: linear-gradient(to right bottom , #272626, hsl(0, 2%, 65%));
}
.navbar-nav{
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    list-style: none;

}
.nav-logo{
    color: white;
    font-size: 1rem;
    width: 100%;
  
    text-transform: uppercase;
    background-color: rgb(51, 49, 49);
     
}
.nav-logo i{
    transform: rotate(0deg);
    transition: 600ms;
}
.nav-items{
    width: 100%;
}
.nav-items:last-child{
    margin-top: auto;
}

.nav-link{
    display: flex;
    text-decoration: none;
    color: aliceblue;
    align-items: center;
    height: 5rem;
    filter: grayscale(100%) opacity(0.8);
}
.nav-link i{
    margin: 0rem 1rem;
    font-size: 2rem;
}
.link-text{
    display: none;
    margin-left: 1rem;
}

.nav-link:hover{
    color: rgb(81, 81, 233);
    filter: grayscale(0%) opacity(1);

}

@media only screen and (max-width:600px){
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 4rem;
      }
    
      .nav-logo {
        display: none;
      }
    
      .navbar-nav {
        flex-direction: row;
      }
      .link-text{
        display: none;
        }
      .nav-link {
        justify-content: center;
      }
    
      main {
        margin: 0;
        margin-bottom: 4rem;
      }
}
@media only screen and (min-width:600px){

    .content{
        margin-left:5rem ;
    }

    .navbar{
        height: 100vh;
        width: 5rem;
        transition: width 600ms ease;
    }
    .navbar-nav{
        flex-direction: column;
        height: 100%;    
    }
        /* after hovering navbar */
    .navbar:hover{
        width: 12rem;
    }
    .navbar:hover .link-text{
        display: block;
    }

    .navbar:hover .nav-logo i{
        transform: rotate(-180deg);
    }
}